*{
/* font-family: poppins; */
font-family: 'Poppins';
}

.background{
  background-image: url(../sofa.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 100vh;  
}

.navbar{
  color: white;
  width: 93%;
  list-style: none;
  margin-top: 2%;
  z-index: 1; 
}
h5:hover{
  color: #7BBB5D;
}
.sellBtn{
  color:white;
  background: #7BBB5D;
  border-radius: 10px;
  padding: 0px 20px;
}
.w-50{
  width: 50%;
}

.green{
   color: #7BBB5D;
}
::placeholder {
  color: black;
  opacity: 1; 
  padding-left: 2%;
}
.linearBackground { 
  background-image: linear-gradient(#121511,#656B6B);
  height: 100vh;
}
.itemCard{
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color:  rgb(10, 10, 10, 0.5);
  
}

a.active, a:hover{
  background-color: #7BBB5D;
  color: white;
  text-decoration: none;  
  border-radius: 10px;
  padding: 2px 8px;
}
a{
  color: #7BBB5D;
  text-decoration: none;  
}
